<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
                             http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Gradle Web</display-name>

    <servlet>
        <servlet-name>gradle_web</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- Path: gradle_web/src/main/webapp/WEB-INF/gradle_web-servlet.xml -->
            <param-value>/WEB-INF/gradle_web-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Path: gradle_web/src/main/webapp/WEB-INF/gradle_web-servlet.xml -->
    <servlet-mapping>
        <servlet-name>gradle_web</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>